body{
	background-color: blanchedalmond;
}

h1{
	color: black;
	text-align: center;
	font-weight: bold;
	font-style: revert;
}

h2{
	color: black;
	text-align: center;
	font-weight: bold;
	font-style: revert;
}

p{
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: large;
}

.main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
}

.header{
	border: solid;
	border-color: whitesmoke;
	text-align: center;
}

box{
	border-radius: 10px;
	margin: 15px;
	padding: 5px;
	text-align: center;
}

img{
	border: double;
	border-color: whitesmoke;
	border-width: 10px;
	border-radius: 15px;
}

.picture{
	border: solid;
	border-color: whitesmoke;
	text-align: center;
	border-width: 7px;
	height: 400px;
}

.newBox {
    border: 1px solid: black ;
    padding: 3px; 
    margin: 4px 0;
    background-color: skyblue; 

